<link rel="stylesheet" href="stylesheets/frontpage.css">

<section class="resources section-wrapper" id="resources">
  <div class="row">
    <the-weather title="Weather" type="3" color="red" image="image.png" link="create" location="92107"></the-weather>
    <photo-gallery title="Photo Gallery" type="6" color="red" image="image.png" link="gallery"></photo-gallery>
    <the-time title="Let's See What happen!" type="3" color="blue" image="image.png" link="create"></the-time>
  </div>
  <div class="row">
    <my-square title="Events" type="6" color="violet" image="image.png" link="events"></my-square>
    <my-square title="Geronimo" type="3" color="green" image="image.png" link="create"></my-square>
    <my-square title="Solomeo III" type="3" color="brown" image="image.png" link="create"></my-square>
  </div>
  <div class="row">
    <my-square title="Bottle" type="3" color="orange" image="image.png" link="create"></my-square>
    <my-square title="SDAR Enterprise" type="3" color="violet" image="image.png" link="create"></my-square>
    <my-square title="IPSUM LOREM" type="3" color="pink" image="image.png" link="create"></my-square>
    <my-square title="IPSUM LOREM" type="3" color="pink" image="image.png" link="create"></my-square>
  </div>
</section>
<the-news></the-news>

<div id="status">
</div>