<link rel="stylesheet" href="stylesheets/gallery.css">
<link rel="stylesheet" href="stylesheets/frontpage.css">
<section class="resources section-wrapper" id="resources">
	<my-photo ng-repeat="photo in gallery track by $index" title="" type="3" color="violet" image="{{photo.root_url}}" index="{{$index}}" ng-click="showPhoto($index)"></my-photo>
</section>
<div id="overlay" ng-show="currentPhoto"></div>
<div id="photo-container" ng-show="currentPhoto" >
<img src="{{currentPhoto.root_url}}"/>
<div id="controller">
	<span ng-click="showPhoto(currentPhoto.index-1)">Previous</span>
	<span ng-click="showPhoto(currentPhoto.index+1)">Next</span>
	<span ng-click="currentPhoto=null">Close</span>
</div>
</div>